body {
	background: #ffc3c7 !important;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

#getnotus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FF7F50 !important;
	font-size: 0.89em;
}